<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test</title>
</head>
<body>
	<script src="js/tjs.js"></script>
	<script id="a" type="text/tpl"><%
		// fdsa%>fdsa
    function getRand() {
    	   var str = 'this i%>s\' a test'
        return Math.random()*1000 | 0;
    }
%>

<%if(list.length > 0) {%>
    <ul>
        <%list.forEach(function(e, i) {%>
            <li data-rand="<%=getRand()%>"
                role="<%=e.isVIP ? 'vip' : ''%>">
                <%=e.id + '.%>' + e.name%>
                <%-i % 2 === 0 ? '(双数)' : '(单数)'%>
            </li>
        <%})%>
    </ul>
<%} else {%>
    <div class="null">无数据</div>
<%}%></script>

<script id="b" type="text/tpl">
	// 12345<%=   -12345%>
	function test () {
		alert(12<%-'haha'%>3)
	}
</script>


<script id="c" type="text/tpl"><%
	// what%><%>%<%>%<w>%
    function getRand() {
		var s = 'abcd%>w<$%>efg'
    	var reg = /afda%>sfda/
    	var ss = "fdfd<%fdaf%>asfd\"saf"
        return Math.random()*1000 | 0;
    }

    /*
    fdsafdsafsdaf saf%><%
     */
%>

<%if(list.length > 0) {%>
    <ul>
        <%list.forEach(function(e, i) {%>
            <li data-rand="<%=getRand()%>"
                role="<%=e.isVIP ? 'vip' : ''%>">
                <%-e.id + '-' + e.name%>
                <%-i % 2 === 0 ? '(双数)' : '(单数)'%>
            </li>
        <%})%>
    </ul>
<%} else {%>
    <div class="null">无数据</div>
<%}%>
</script>

<script id="d" type="text/tpl">
	<%
		function getRand() {
			var s = 'abcd%>w<%%>efg'
	    	var reg = /afda%>sfda/
	    	var ss = "fdfd<%fdaf%>asfd\"saf"
	        return Math.random()*1000 | 0;
	    }
	%>
	<%if(list && list.length > 0) {%>
	    <ul>
	        <%list.forEach(function(e, i) {%>
	            <li data-rand="<%=getRand()%>"
	                role="<%=e.isVIP ? 'vip' : ''%>">
	                <%-`${e.id}-%>-${e.name}`%>
	                <%-i % 2 === 0 ? '(双数)' : '(单数)'%>
	                <%-getRand()%>
	            </li>
	        <%})%>
	    </ul>
	<%} else {%>
	    <div class="null">无数据</div>
	<%}%>
</script>


<script id="e" type="text/tpl">
<%
    var fruits = ["Apple", "Pear", "Orange", "Lemon"]
      , random = " ".repeat(198).split("").map(x => Math.random())
      ;
%>

These fruits are amazing:
<% for(var i = 0; i < fruits.length; ++i) {%>
  <%=fruits[i]%>s<% } %>

Let's see some random numbers:

<% random.forEach((c, i) => {
%> <%=c.toFixed(10) + ((i + 1) % 6 === 0 ? "\n": "") %><%});%>
</script>


	<script>
		var str = document.getElementById('e').textContent;
		var fn = tjs(str);
		var html = fn({
			list: [{
				id: 1, name: 'miki'
			}, {
				id: 2, name: 'flf'
			}, {
				id: 3, name: 'tom'
			}, {}, {}, {
				id: 400,
				name: ''
			}]
		})
		console.log(html);
	</script>
</body>
</html>